.host-operator-container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--color-line);
    padding: 15px 5px 5px 15px;

}
.host-operator-container-header .host-performance-text {
    font-weight: bold;
    color: var(--text-color-gray)
}
.host-container-header-operator{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 15px 5px 5px 15px;
}
.host-container-header-operator .host-performance-text {
    font-weight: 400;
    color: var(--text-color-gray-bland)
}
.host-button-setting{
    background-color: var(--color-green);
    padding: 4px 25px;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    font-size: 12px;
}
.host-performance-text {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-color-gray-bold);
}
.host-input-operator{
    padding: 0 20px 0 20px;
}

.host-input-operator .MuiOutlinedInput-root {
    border-radius: 8px;
    border-color: var(--text-color-gray-bold);
    padding: 0;
    height: 25px;
}
.host-input-operator {
    width: 56%;
}
.host-text-input-operator {
    width: 100%;
}
.host-button-csv {
    padding: 2px 25px;
    background-color: var(--background-color-btn-csv);
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 12px;
}
