
.host-overall-container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--color-line);
    padding: 15px 5px 5px 12px;

}

.host-overall-performance-text {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-color-gray-bold);
}
.host-overall-button-csv {
    padding: 2px 25px;
    background-color: var(--background-color-btn-csv);
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 12px;
}