.container {}
.container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #cacaca;
    padding: 15px 5px 5px 20px;

}
.languages {
    padding: 4px;
    background-color: #fff;
    border-radius: 2px;
    margin-right: 5px;
    color: #707070;
    font-size: 10px;
}
.performance-text {
    font-size: 13px;
    font-weight: 600;
    color: #525252;
}
.button-csv {
    padding: 2px 25px;
    background-color: #e65600;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
.container-dateTime {
    display: flex;
    align-items: center;
}